<h1>Main Course Page</h1>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, doloremque?</li>
    <li>Consequatur delectus distinctio eius impedit magni molestias sunt vero, vitae?</li>
    <li>Autem eos ipsa mollitia natus necessitatibus nostrum quas similique, tenetur.</li>
    <li>Ab accusantium, aliquam consectetur consequatur culpa dignissimos quod suscipit totam.</li>
    <li>Atque autem dignissimos excepturi, itaque mollitia necessitatibus porro recusandae saepe.</li>
    <li>Debitis dignissimos eveniet laborum neque nobis nostrum odit quasi unde.</li>
    <li>Asperiores, assumenda deleniti facilis officia sunt tempore totam? Aliquam, vitae?</li>
    <li>Alias amet aperiam consequuntur eaque fugiat incidunt porro quo repudiandae.</li>
    <li>At consequatur delectus ea eum recusandae. Ipsam magni quas sunt.</li>
    <li>Ad assumenda dolores earum, error laboriosam quis ratione rem tempora.</li>
</ul>
