<select name="" id="" onchange="getCourses(this.value)" class="form-control">
    {{#each programs as |p|}}
        <option value="{{p.code}}">{{p.name}}</option>
    {{/each}}
</select>
<div id="courses-table">

</div>
