<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Welcome to the Student management project</h1>
    <p>Below are the documentation of our website</p>
</div>

<ul>
    <li><a href="/api/programs">Get all the porgams by visiting /api/programs</a></li>
    <li><a href="/api/courses/CE">Get all the courses by visiting /api/courses/CE</a></li>
</ul>
