* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.sub-img {
    height: 200px;
}

.container {
    display: grid;
    height: 100%;
    grid-template-rows: 0.15fr 0.25fr auto 0.1fr;
}
header{
    text-transform: uppercase;
}
span{
    color: red;

}
header {
    display: grid;
    place-items: center;
}

nav {
    background-color: orange;
    text-align: center;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 3px;
}

nav a:hover{
    background-color: green;
}

main{
    background: url("../img/bg.jpg") center;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}
.title{
    text-align: center;
}
.btn-buy{
    background-color: orange;
    border: none;
    padding: 0.75rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: 0.5s;
}
.btn-buy:hover{
    background-color: green;
}
footer{
    background-color: orange;
    display: grid;
    place-items: center;
    color: white;
}
